@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

body {
  font-family: 'Solway', serif;
}

.price-tag {
  font-size: 1rem;
  font-weight: bold;
}

.start-bidding-btn {
  background-color: black;
  color: white;
  font-size: 0.75rem;
  padding: 1rem 3rem;
}

.sometimes-btn {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 15px;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  vertical-align: super;
}
